/* #ifndef MP */
@font-face {
  font-family: "custom-icon";
  src: url('@/uni_modules/FatFatMeng-Swiper-mfw/static/css/iconfont.ttf') format('truetype');
}
/* #endif */


/* #ifdef MP */
@font-face {
  font-family: 'custom-icon';  /* Project id 2582495 */
  src: url('http://at.alicdn.com/t/font_2582495_l8bsl3n1qme.woff2?t=1628342605627') format('woff2'),
       url('http://at.alicdn.com/t/font_2582495_l8bsl3n1qme.woff?t=1628342605627') format('woff'),
       url('http://at.alicdn.com/t/font_2582495_l8bsl3n1qme.ttf?t=1628342605627') format('truetype');
}
/* #endif */


.custom-icon,.app-iconfont {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-jia2:before {
  content: "\e6df";
}

.custom-icon-fuhao-tongzhi:before {
  content: "\e71c";
}

.custom-icon-tongzhi:before {
  content: "\e6be";
}

.custom-icon-fuhao-tongzhi1:before {
  content: "\e72a";
}

.custom-icon-tongzhizhongxin:before {
  content: "\eb43";
}

.custom-icon-xiaoxitongzhitixinglingshenglingdang-xianxing:before {
  content: "\e793";
}

.custom-icon-tongzhi-:before {
  content: "\e6c4";
}

.custom-icon-tongzhi1:before {
  content: "\e6c7";
}

.custom-icon-tongzhi2:before {
  content: "\e760";
}

.custom-icon-icon-test:before {
  content: "\e6c8";
}

.custom-icon-tongzhigonggao:before {
  content: "\e6c9";
}

.custom-icon--:before {
  content: "\e6ca";
}

.custom-icon-renwuzhongxin-kaiqixiaoxitongzhi:before {
  content: "\e6cb";
}

.custom-icon-tongzhi3:before {
  content: "\e737";
}

.custom-icon-tongzhi4:before {
  content: "\e6cc";
}

.custom-icon-tongzhi5:before {
  content: "\e6cd";
}

.custom-icon-xiaoxitongzhi:before {
  content: "\e6cf";
}

.custom-icon-tongzhi6:before {
  content: "\e6d0";
}

.custom-icon-tongzhi2x:before {
  content: "\e6d3";
}

.custom-icon-tongzhi7:before {
  content: "\e6d4";
}

.custom-icon-_tongzhi:before {
  content: "\e6d5";
}

.custom-icon-icon-tongzhi:before {
  content: "\e6d6";
}

.custom-icon-tongzhi8:before {
  content: "\e6d7";
}

.custom-icon-tongzhi9:before {
  content: "\e6d8";
}

.custom-icon-jinshengtongzhi-02:before {
  content: "\e6da";
}

.custom-icon-tongzhi10:before {
  content: "\e6dd";
}

.custom-icon-notification-3-line:before {
  content: "\e6de";
}

.custom-icon-tongzhi11:before {
  content: "\e6ff";
}

.custom-icon-xiazai12:before {
  content: "\e6ba";
}

.custom-icon-xiazai21:before {
  content: "\e7de";
}

.custom-icon-fenxiang4:before {
  content: "\e6bb";
}

.custom-icon-xihuan:before {
  content: "\e6bc";
}

.custom-icon-show_lishijilu:before {
  content: "\e6bd";
}

.custom-icon-xiazai31:before {
  content: "\e7df";
}

.custom-icon-fenxiang5:before {
  content: "\e6c0";
}

.custom-icon-shoucang21:before {
  content: "\e6c1";
}

.custom-icon-shoucang111:before {
  content: "\e6c3";
}

.custom-icon-fenxiang22:before {
  content: "\e6ab";
}

.custom-icon-iconfontfenxiang:before {
  content: "\e6ac";
}

.custom-icon-keep:before {
  content: "\e6b1";
}

.custom-icon-fenxiang31:before {
  content: "\e6b2";
}

.custom-icon-xihuan2:before {
  content: "\e6b5";
}

.custom-icon-lishijilu:before {
  content: "\e6b6";
}

.custom-icon-shoucang11:before {
  content: "\e6b7";
}

.custom-icon-xiaomi:before {
  content: "\e697";
}

.custom-icon-yanzhengma:before {
  content: "\e6a0";
}

.custom-icon-iconfontapple:before {
  content: "\e698";
}

.custom-icon-weibodenglu:before {
  content: "\e699";
}

.custom-icon-weibodenglufanbai:before {
  content: "\e69a";
}

.custom-icon-weixindenglu:before {
  content: "\e69d";
}

.custom-icon-qqdenglu:before {
  content: "\e69e";
}

.custom-icon-qqdenglufanbai:before {
  content: "\e69f";
}

.custom-icon-weixindenglu1:before {
  content: "\e6a3";
}

.custom-icon-pingguo:before {
  content: "\e6a4";
}

.custom-icon-yanzhengma1:before {
  content: "\e6a5";
}

.custom-icon-zhanghaodenglu:before {
  content: "\e70d";
}

.custom-icon-shouji:before {
  content: "\e6a6";
}

.custom-icon-shoujidenglu:before {
  content: "\e6a8";
}

.custom-icon-phone-fill:before {
  content: "\e6a9";
}

.custom-icon-denglu-weixindenglu:before {
  content: "\e6aa";
}

.custom-icon-yanzhengma2:before {
  content: "\e704";
}

.custom-icon-jiangxu:before {
  content: "\e6a2";
}

.custom-icon-shengxu:before {
  content: "\e751";
}

.custom-icon-shangsheng:before {
  content: "\e750";
}

.custom-icon-web-icon-:before {
  content: "\e6dc";
}

.custom-icon-shangsheng1:before {
  content: "\e696";
}

.custom-icon-x:before {
  content: "\e692";
}

.custom-icon-qingkong:before {
  content: "\e693";
}

.custom-icon-qingkongshanchu:before {
  content: "\e788";
}

.custom-icon-denglu-shuruqingkong:before {
  content: "\e694";
}

.custom-icon-icon-qingkong:before {
  content: "\e695";
}

.custom-icon-bofang:before {
  content: "\e68c";
}

.custom-icon-play:before {
  content: "\e691";
}

.custom-icon-play-c-copy:before {
  content: "\ec30";
}

.custom-icon-yuyin:before {
  content: "\e684";
}

.custom-icon-yuyin1:before {
  content: "\e686";
}

.custom-icon-yuyin2:before {
  content: "\e687";
}

.custom-icon-ziyuanldpi:before {
  content: "\e688";
}

.custom-icon-yuyin3:before {
  content: "\e689";
}

.custom-icon-yuyin4:before {
  content: "\e6ce";
}

.custom-icon-yuyin5:before {
  content: "\e68a";
}

.custom-icon-yuyin6:before {
  content: "\e8c0";
}

.custom-icon-A:before {
  content: "\e6ed";
}

.custom-icon-yuyin7:before {
  content: "\e68b";
}

.custom-icon-jifenduihuan:before {
  content: "\e657";
}

.custom-icon-tubiao309:before {
  content: "\e65d";
}

.custom-icon-tubiao301:before {
  content: "\e66e";
}

.custom-icon-jifenguizeguankong2:before {
  content: "\e6af";
}

.custom-icon-jifen:before {
  content: "\e66f";
}

.custom-icon-dkw_jifen:before {
  content: "\e670";
}

.custom-icon-jifen1:before {
  content: "\e675";
}

.custom-icon-gongneng_jifen:before {
  content: "\e678";
}

.custom-icon-jifenguanli-:before {
  content: "\e67c";
}

.custom-icon-jifen2:before {
  content: "\e69b";
}

.custom-icon-jifen3:before {
  content: "\e721";
}

.custom-icon-jifen4:before {
  content: "\e870";
}

.custom-icon-jifenduihuan1:before {
  content: "\e67f";
}

.custom-icon-jifen5:before {
  content: "\e680";
}

.custom-icon-jifenhuiyuan:before {
  content: "\e681";
}

.custom-icon-jifen6:before {
  content: "\e683";
}

.custom-icon-jifenintegrate-fill:before {
  content: "\e7c3";
}

.custom-icon-qiandao2:before {
  content: "\e658";
}

.custom-icon-qiandao3:before {
  content: "\e65b";
}

.custom-icon-xiazai3:before {
  content: "\e618";
}

.custom-icon-icon_fenxiang:before {
  content: "\e641";
}

.custom-icon-share:before {
  content: "\e664";
}

.custom-icon-youhuiquan:before {
  content: "\e6a7";
}

.custom-icon-youhuiquan-copy:before {
  content: "\e6d2";
}

.custom-icon-quan2:before {
  content: "\e661";
}

.custom-icon-quan3:before {
  content: "\e602";
}

.custom-icon-quan2-copy:before {
  content: "\ec2e";
}

.custom-icon-quan3-copy:before {
  content: "\ec2f";
}

.custom-icon-shouyeweixuanzhong:before {
  content: "\e663";
}

.custom-icon-fenquweixuanzhong:before {
  content: "\e665";
}

.custom-icon-dongtaiweixuanzhong:before {
  content: "\e666";
}

.custom-icon-wodeweixuanzhong:before {
  content: "\e667";
}

.custom-icon-jiaoliuweixuanzhong:before {
  content: "\e6b8";
}

.custom-icon-shouyexuanzhong-copy:before {
  content: "\e6e2";
}

.custom-icon-wodexuanzhong-copy:before {
  content: "\e6e4";
}

.custom-icon-dongtaixuanzhong-copy:before {
  content: "\e6e5";
}

.custom-icon-fenquxuanzhong-copy:before {
  content: "\e6e6";
}

.custom-icon-jiaoliuxuanzhong-copy:before {
  content: "\e6e7";
}

.custom-icon-hengping:before {
  content: "\e63d";
}

.custom-icon-banbengengxin:before {
  content: "\e64d";
}

.custom-icon-bianji:before {
  content: "\e729";
}

.custom-icon-yaoqinghaoyou1:before {
  content: "\e67e";
}

.custom-icon-wodeyingyongtuijian:before {
  content: "\e676";
}

.custom-icon-icobanbengengxin:before {
  content: "\e67d";
}

.custom-icon-guanyuwomen:before {
  content: "\e63f";
}

.custom-icon-gaiicon-:before {
  content: "\e6d1";
}

.custom-icon-bianji1:before {
  content: "\eb61";
}

.custom-icon-guanyuwomen1:before {
  content: "\e60a";
}

.custom-icon-app_icons--:before {
  content: "\e623";
}

.custom-icon-yaoqinghaoyou:before {
  content: "\e632";
}

.custom-icon-share1:before {
  content: "\e60b";
}

.custom-icon-yaoqinghaoyou2:before {
  content: "\e61f";
}

.custom-icon-wodeyingyong:before {
  content: "\e63a";
}

.custom-icon-bianjihdpi:before {
  content: "\e619";
}

.custom-icon-guanyuwomen2:before {
  content: "\e611";
}

.custom-icon-yijianfankui:before {
  content: "\e61a";
}

.custom-icon-yijianfankui1:before {
  content: "\e864";
}

.custom-icon-zujian-icon-33:before {
  content: "\e605";
}

.custom-icon-yijianfankui2:before {
  content: "\e73f";
}

.custom-icon-pengyouquan00:before {
  content: "\e6b9";
}

.custom-icon-moment-fill:before {
  content: "\e647";
}

.custom-icon-link-fill:before {
  content: "\e631";
}

.custom-icon-icon_function_baocun:before {
  content: "\e889";
}

.custom-icon-wenjianlianjie:before {
  content: "\e60c";
}

.custom-icon-weibo:before {
  content: "\e61b";
}

.custom-icon-qq:before {
  content: "\e603";
}

.custom-icon-qq1:before {
  content: "\e636";
}

.custom-icon-baocun:before {
  content: "\e668";
}

.custom-icon-fuzhilianjiemian:before {
  content: "\e638";
}

.custom-icon-chaolianjie:before {
  content: "\e613";
}

.custom-icon-baocun1:before {
  content: "\e639";
}

.custom-icon-baocun2:before {
  content: "\e677";
}

.custom-icon-pingjia:before {
  content: "\e63b";
}

.custom-icon-aixin:before {
  content: "\e85c";
}

.custom-icon-pingjia1:before {
  content: "\e63c";
}

.custom-icon-fenxiang3:before {
  content: "\e8b0";
}

.custom-icon-fenxiang11:before {
  content: "\e740";
}

.custom-icon-daipingjia:before {
  content: "\e772";
}

.custom-icon-aixin11:before {
  content: "\e60d";
}

.custom-icon-fenxiang21:before {
  content: "\e60e";
}

.custom-icon-daipingjia-copy:before {
  content: "\e8b1";
}

.custom-icon-kanjian:before {
  content: "\e679";
}

.custom-icon-kanguo2:before {
  content: "\e66b";
}

.custom-icon-shoucang2:before {
  content: "\e659";
}

.custom-icon-jia:before {
  content: "\e65a";
}

.custom-icon-fabiao:before {
  content: "\e654";
}

.custom-icon-fatie:before {
  content: "\e6b0";
}

.custom-icon-jia1:before {
  content: "\e63e";
}

.custom-icon-fabu:before {
  content: "\e60f";
}

.custom-icon-chuangjianhuati:before {
  content: "\e64c";
}

.custom-icon-chaojihuati-remendianjitai:before {
  content: "\e67a";
}

.custom-icon-location:before {
  content: "\e640";
}

.custom-icon-dingwei:before {
  content: "\e6ad";
}

.custom-icon-dingwei1:before {
  content: "\e6ae";
}

.custom-icon-dingwei2:before {
  content: "\e8c4";
}

.custom-icon-huati:before {
  content: "\e8c5";
}

.custom-icon-label:before {
  content: "\e604";
}

.custom-icon-ziyuan131:before {
  content: "\e785";
}

.custom-icon-huati1:before {
  content: "\e66d";
}

.custom-icon-xingqiu:before {
  content: "\e65c";
}

.custom-icon-huati2:before {
  content: "\e703";
}

.custom-icon-dizhidingweiweizhi:before {
  content: "\e642";
}

.custom-icon-qianjin:before {
  content: "\e643";
}

.custom-icon-qianjin1:before {
  content: "\e644";
}

.custom-icon-sousuo2:before {
  content: "\e645";
}

.custom-icon-xingxing:before {
  content: "\e646";
}

.custom-icon-sousuo11:before {
  content: "\e671";
}

.custom-icon-xingxing1:before {
  content: "\e648";
}

.custom-icon-xingxing2:before {
  content: "\e649";
}

.custom-icon-sousuo21:before {
  content: "\e64a";
}

.custom-icon-sousuo31:before {
  content: "\e64e";
}

.custom-icon-xingxing3:before {
  content: "\e64f";
}

.custom-icon-qianjin2:before {
  content: "\e650";
}

.custom-icon-taobao:before {
  content: "\e651";
}

.custom-icon-tianmao:before {
  content: "\e652";
}

.custom-icon-tianmao1:before {
  content: "\e653";
}

.custom-icon-houtui:before {
  content: "\e655";
}

.custom-icon-jiajianzujianjiahao:before {
  content: "\e656";
}

.custom-icon-redian:before {
  content: "\e6bf";
}

.custom-icon-redianfujinren:before {
  content: "\e68e";
}

.custom-icon-sousuo3:before {
  content: "\e606";
}

.custom-icon-sousuo4:before {
  content: "\e6b3";
}

.custom-icon-ziyuan:before {
  content: "\e61e";
}

.custom-icon-ziyuan2:before {
  content: "\e620";
}

.custom-icon-ziyuan3:before {
  content: "\e621";
}

.custom-icon-ziyuan4:before {
  content: "\e622";
}

.custom-icon-ziyuan6:before {
  content: "\e624";
}

.custom-icon-ziyuan7:before {
  content: "\e625";
}

.custom-icon-ziyuan8:before {
  content: "\e626";
}

.custom-icon-ziyuan9:before {
  content: "\e627";
}

.custom-icon-ziyuan10:before {
  content: "\e628";
}

.custom-icon-ziyuan11:before {
  content: "\e629";
}

.custom-icon-ziyuan12:before {
  content: "\e62a";
}

.custom-icon-ziyuan13:before {
  content: "\e62b";
}

.custom-icon-ziyuan16:before {
  content: "\e62e";
}

.custom-icon-ziyuan22:before {
  content: "\e634";
}

.custom-icon-qiandao:before {
  content: "\e607";
}

.custom-icon-liulan:before {
  content: "\e614";
}

.custom-icon-wenti:before {
  content: "\e615";
}

.custom-icon-nv:before {
  content: "\e65e";
}

.custom-icon-nan:before {
  content: "\e65f";
}

.custom-icon-zhongxing:before {
  content: "\e660";
}

.custom-icon-zhiboguankanshu:before {
  content: "\e66c";
}

.custom-icon-xiazai:before {
  content: "\e672";
}

.custom-icon-shoucang:before {
  content: "\e673";
}

.custom-icon-shoucangtianchong:before {
  content: "\e674";
}

.custom-icon-shezhi:before {
  content: "\e685";
}

.custom-icon-buganxingqutianchong:before {
  content: "\e68d";
}

.custom-icon-shanchu:before {
  content: "\e68f";
}

.custom-icon-xiazaishibai:before {
  content: "\e6b4";
}

.custom-icon-cai:before {
  content: "\e6c5";
}

.custom-icon-zan:before {
  content: "\e6c6";
}

.custom-icon-yizhuifan:before {
  content: "\e6db";
}

.custom-icon-shuaxin:before {
  content: "\e6c2";
}

.custom-icon-tubiao01:before {
  content: "\e610";
}

.custom-icon-yduishuaxin:before {
  content: "\e69c";
}

.custom-icon-ai244:before {
  content: "\e6e8";
}

.custom-icon-shuaxin1:before {
  content: "\e62c";
}

.custom-icon-shuaxin2:before {
  content: "\e64b";
}

.custom-icon-shuaxin3:before {
  content: "\e61c";
}

.custom-icon-shuaxin4:before {
  content: "\e600";
}

.custom-icon-shuaxin5:before {
  content: "\e616";
}

.custom-icon-htmal5icon37:before {
  content: "\e62d";
}

.custom-icon-2fanhui:before {
  content: "\e601";
}

.custom-icon-gengduoda:before {
  content: "\e633";
}

.custom-icon-fanhui:before {
  content: "\e612";
}

.custom-icon-fanhui1:before {
  content: "\e682";
}

.custom-icon-arrow-:before {
  content: "\e62f";
}

.custom-icon-share-fill:before {
  content: "\e637";
}

.custom-icon-sousuo:before {
  content: "\e6d9";
}

.custom-icon-jurassic_love:before {
  content: "\e6a1";
}

.custom-icon-favourited:before {
  content: "\e617";
}

.custom-icon-sousuo1:before {
  content: "\e609";
}

.custom-icon-aixin1:before {
  content: "\e6ec";
}

.custom-icon-aixin2:before {
  content: "\e690";
}

.custom-icon-shoucang1:before {
  content: "\e662";
}

.custom-icon-gengduo:before {
  content: "\e608";
}

.custom-icon-xiazai_2:before {
  content: "\e6f9";
}

.custom-icon-fenxiang:before {
  content: "\e630";
}

.custom-icon-fenxiang1:before {
  content: "\e635";
}

.custom-icon-fenxiangweixin:before {
  content: "\e669";
}

.custom-icon-xiazai1:before {
  content: "\e66a";
}

.custom-icon-fenxiang2:before {
  content: "\e61d";
}

.custom-icon-xiazai2:before {
  content: "\e67b";
}

.custom-icon-xiazai11:before {
  content: "\e701";
}

